<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../../public/img/Astros-icon.png"
    />

    {{! Css }}
    <link rel="stylesheet" href="../../public/css/{{style}}.css" />
    {{! handlebars CDN }}
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
      integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    {{! SweetAlert }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {{! FA icons }}
    <script
      src="https://kit.fontawesome.com/ea443629ff.js"
      crossorigin="anonymous"
    ></script>
    {{! Tooltips}}
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/animations/scale.css"
    />
    <title>{{faviconTitle}}</title>
  </head>

  <body>
    {{{body}}}
  </body>

</html>