<div class="forgot-box" id="contenedor">
  <h1>Recover Password</h1>
  <form id="formForgot">
    <input type="email" name="email" placeholder="E-mail" id="email" required />
    <input type="submit" value="Send Recovery E-mail" />
  </form>
  <a href="http://localhost:8080/login">Quit</a>
</div>

<script src="/public/js/forgot.js" type="application/javascript"></script>