
<div class="login-box" id="contenedor">

    <!-- LOGIN -->
    <img class="avatar" src="../public/img/logoReloj.png" alt="logo de clanDestino">
    <h1 id="titlecontenedor">Inicia sesión aqui</h1>

    <form id="formLogin">
      <!-- E-mail -->
      <label for="E-mail">Email</label>
      <input type="text" placeholder="Ingresar email" id="email" autocomplete="off">
      <!-- password-->
      <label for="password">contraseña</label>
      <input type="password" placeholder="Ingresar contraseña" id="pass" autocomplete="off">

      <input type="submit" value="Iniciar sesión" id="btnlog">

      <a href="/register" id="btnreg">No tengo usuario</a><br>

      <a href="/api/sessions/git">Iniciar sesión con Git</a><br>

      <a href="/forgot">Olvidaste tu contraseña?</a>


  </div>

<script src="/public/js/login.js" type="application/javascript"></script>