<div class="regis-box" id="contenedor">
  <h1>Registrarse</h1>
  <form id="formRegister">
    <input type="email" placeholder="Email" id="email" required />
    <input type="text" placeholder="Nombres" id="first_name" required />
    <input type="text" placeholder="Apellido" required id="last_name" />
    <input type="Number" placeholder="Edad" min="14" required id="age" />
    <input
      type="password"
      placeholder="Contraseña"
      minlength="8"
      required
      id="password"
    />
    <input type="submit" value="Registrar" />
  </form>
  <a href=" https://pf43340.onrender.com/login">Ya tengo cuenta.</a>
</div>

<script src="/public/js/register.js" type="application/javascript"></script>