@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background: url("../img/fondoreloj3.png") no-repeat center top;
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  overflow: scroll;
}

/* Nav */
.burguer-ico {
  margin: 0 auto;
}

.nav-list,
a {
  display: flex;
  list-style: none;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-item {
  max-width: 25%;
}

.nav-item:hover {
  color: rgb(190, 190, 190);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

#logo {
  width: 10vw;
}

.titulo {
  height: 100vh;
  color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  user-select: none;
}

.subtitulo {
  height: 150px;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: justify;
  user-select: none;
}

p,
.lista {
  color: white;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0 50px;
  font-size: 1.2rem;
  text-align: justify;
}

.lista {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 50px 70px;
  font-size: 1.2rem;
  gap: 10px;
  text-align: justify;
}

strong {
  flex-wrap: nowrap;
  font-size: 1rem;
}

.img-section {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn :hover {
  color: #a21309af;
  transform: scale(1.3);
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

#cart-heading {
  color: #dd550cd1;
  margin-top: 0;
}

#ordertitle {
  color: #4d2921;
}

#cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
}

.cart-item {
  width: calc(33.33% - 1rem);
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #b33a0a;
  color: #fff;
}

.cart-item h3 {
  margin-top: 0;
}

.cart-item p {
  margin-bottom: 1rem;
}

.cart-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-item li {
  margin-bottom: 0.5rem;
}

.remove-item {
  background-color: #cd5a1cd1;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}

#pay-button {
  background-color: #920308;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
