body {
  background: url("../img/fondoreloj5.jpg") no-repeat center top;
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  overflow: scroll;
  
}

/* Registro User */

.forgot-box {
  width: 480px;
  height: auto;
  background-image: radial-gradient(
    circle at 10% 10%, 
    #ce5d3ed1 0, 
    transparent 50%
  ),
  radial-gradient(
    circle at 80% 80%, 
    #dcd5cd 0, 
    transparent 50%
  ),
  radial-gradient(
    circle at 50% 50%, 
    #917b53 0, 
    transparent 40%
  ),
  radial-gradient(
    circle at 30% 70%, 
    #9a6f1f 0, 
    transparent 50%
  ),
  radial-gradient(
    circle at 70% 30%, 
    #624c24 0, 
    transparent 50%
  );
  background-color: #f3f0e1;
  
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  box-sizing: border-box;
  padding: 30px 30px;
  border-radius: 10%;
  opacity: 0.8;
}

.forgot-box form {
  max-width: 400px;
  min-width: 320px;
  margin: 0 auto;
}

.forgot-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.forgot-box input {
  width: 100%;
  margin-bottom: 20px;
}

.forgot-box input[type="email"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
}

.forgot-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b72a03d1;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.forgot-box a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20 px;
  color: darkgrey;
  display: block;
}

.forgot-box a:hover {
  color: #eb0e16;
}

@media (max-width: 768px) {
  .forgot-box {
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 50px 20px;
  }

  .forgot-box form {
    max-width: none;
  }
}
