@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  min-height: 1080px;
  font-family: "Open Sans", sans-serif;
  background-image: radial-gradient(
    circle at 84.69% 8.66%,
    #4a464c 0,
    #332941 25%,
    #180035 50%,
    #17002b 75%,
    #130024 100%
  );
}

/* Nav */
.burguer-ico {
  margin: 0 auto;
}

.nav-list,
a {
  display: flex;
  list-style: none;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-item {
  max-width: 25%;
}

.nav-item:hover {
  color: rgb(190, 190, 190);
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

#logo {
  width: 10vw;
}

.titulo {
  height: 100vh;
  color: white;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  user-select: none;
}

.subtitulo {
  height: 150px;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: justify;
  user-select: none;
}

p,
.lista {
  color: white;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0 50px;
  font-size: 1.2rem;
  text-align: justify;
}

.lista {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 50px 70px;
  font-size: 1.2rem;
  gap: 10px;
  text-align: justify;
}

strong {
  flex-wrap: nowrap;
  font-size: 1rem;
}

.img-section {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.btn :hover {
  color: #bd9cfa;
  transform: scale(1.3);
}
.user-list {
  display: flex;
  flex-direction: column;
}
.user-container {
  padding: 1rem;
  align-items: center;
  border-radius: 9999px;
  border-width: 1px;
  border-color: #e5e7eb;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background: #bd9cfa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-row {
  display: flex;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-profile {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

.p-name {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 600;
  white-space: nowrap;
}

.p-email {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
  white-space: nowrap;
}

.p.role {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #374151;
  white-space: nowrap;
}

.p-last {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-style: italic;
  color: #374151;
  white-space: nowrap;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  gap: 0.5rem;
}

.btncrud:hover {
  color: #01657ed1;
  cursor: pointer;
}

#delete-time:hover {
  color: #bd9cfa;
  transform: scale(1.3);
}
