body {
  background: url("../img/fondoreloj2.png") no-repeat center top;
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  overflow: scroll;
  /* position: relative; */
}

/*Login box*/

.login-box {
  width: 320px;
  height: 420px;
  background-image: radial-gradient(
    circle at 10% 10%, 
    #ce5d3ed1 0, 
    transparent 50%
  ),
  radial-gradient(
    circle at 80% 80%, 
    #dcd5cd 0, 
    transparent 50%
  ),
  radial-gradient(
    circle at 50% 50%, 
    #917b53 0, 
    transparent 40%
  ),
  radial-gradient(
    circle at 30% 70%, 
    #9a6f1f 0, 
    transparent 50%
  ),
  radial-gradient(
    circle at 70% 30%, 
    #624c24 0, 
    transparent 50%
  );
  background-color: #f3f0e1;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10%;
  opacity: 0.7;
}

.login-box .avatar {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -50px;
  left: calc(20% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background:  #7e1c01d1;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box button {
  border: none;
  outline: none;
  height: 40px;
  background:  #7e1c01d1;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  width: 125px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20 px;
  color: darkgrey;
}

.login-box a:hover {
  color: #7e1c01d1;
}

.list {
  display: none;
}
